.meallist{
	/*margin: 5% 0;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-template-rows: repeat(3, 1fr);*/
	justify-items: center;
	/*justify-content: stretch;*/
	align-items: center;
	/*align-items: stretch;*/
	/*grid-gap: 9%;*/
	grid-row-gap: 50px;
}


.singleMeal{
	width:250px;
	height: 200px;
}